#main {
    display: grid;
    height: 100vh;
    width: 100%;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        color: red;
    }
    
    &__script {
        color: green;
    }
}